﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var session = (ShoeShopOnline.Common.UserLogin)Session[ShoeShopOnline.Common.CommonConstants.USER_SESSION];
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<div class=" align-items-center justify-content-between mb-4">
    @if (session.GroupId == "ADMIN")
    {
        <!--Quản lý người dùng-->
        <h6 class="alert alert-success text-center"><i class="fas fa-users"></i> Quản lý người dùng</h6>
        <div class="row col-md-12">
            <a href="/quan-tri/nhom-nguoi-dung" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Nhóm người dùng</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountUserGroup</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/tai-khoan-nguoi-dung" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-success">Tài khoản người dùng</div>
                                <div class="text-sm font-weight-bold text-success">@ViewBag.CountUser</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/quan-ly-phan-quyen" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-info ">Quản lý phân quyền</div>
                                <div class="text-sm font-weight-bold text-info ">@ViewBag.CountRole</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/phan-quyen-nguoi-dung" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-warning ">Phân quyền người dùng</div>
                                <div class="text-sm font-weight-bold text-warning ">@ViewBag.CountCredential</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pencil-ruler fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }

    <!--Quản lý sản phẩm-->
    <h6 class="alert alert-info text-center"><i class="far fa-newspaper"></i> Quản lý sản phẩm</h6>
    <div class="row col-md-12">
        <a href="/quan-tri/danh-muc-san-pham" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-primary">Sản phẩm</div>
                            <div class="text-sm font-weight-bold text-primary">@ViewBag.CountProduct</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-product-hunt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/quan-tri/loai-san-pham" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-success">Nhóm sản phẩm</div>
                            <div class="text-sm font-weight-bold text-success">@ViewBag.CountProductCategory</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stream fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!--Quản lý chuyên mục bài viết-->
    <h6 class="alert alert-warning text-center"><i class="far fa-newspaper"></i> Quản lý bài viết</h6>
    <div class="row col-md-12">
        <a href="/quan-tri/tin-tuc" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-primary">Tin tức</div>
                            <div class="text-sm font-weight-bold text-primary">@ViewBag.CountNews</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-product-hunt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/quan-tri/loai-tin-tuc" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-success">Nhóm tin tức</div>
                            <div class="text-sm font-weight-bold text-success">@ViewBag.CountNewsCategory</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stream fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/quan-tri/gioi-thieu-cua-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-info ">Giới thiệu cửa hàng</div>
                            <div class="text-sm font-weight-bold text-info ">@ViewBag.CountAbout</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-store fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!--Quản lý giao diện người dùng-->
    @if (session.GroupId == "ADMIN")
    {
        <h6 class="alert alert-primary text-center"><i class="fas fa-tv"></i> Quản lý giao diện</h6>
        <div class="row col-md-12">
            <a href="/quan-tri/menu" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Menu</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountMenu</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/slide" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-success">Slide</div>
                                <div class="text-sm font-weight-bold text-success">@ViewBag.CountSlide</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-sliders fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/thong-tin-cua-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-info ">Thông tin cửa hàng</div>
                                <div class="text-sm font-weight-bold text-info ">@ViewBag.CountContact</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-info fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/footer" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-warning ">Footer</div>
                                <div class="text-sm font-weight-bold text-warning ">@ViewBag.CountFooter</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pager fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }

    <!--Quản lý đơn đặt hàng-->
    <h6 class="alert alert-secondary text-center"><i class="fas fa-bars"></i> Quản lý đơn hàng</h6>
    <div class="row col-md-12">
        <a href="/quan-tri/don-dat-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-primary">Đơn đặt hàng</div>
                            <div class="text-sm font-weight-bold text-primary">@ViewBag.CountOrder</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-list-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!--Doanh thu-->
    <h6 class="alert alert-secondary text-center"><i class="fas fa-bars"></i> Quản lý đơn hàng</h6>
    <select onchange="ChangeRevenueAndBenefit()" id="selectYear">
        <option value="2019" selected>2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
    </select>
    <div class="row col-md-12">
        <a href="/quan-tri/don-dat-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-primary">Doanh thu</div>
                            <div class="text-sm font-weight-bold text-primary" id="revenue">@ViewBag.Reven</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-list-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="/quan-tri/don-dat-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
                            <div class="text-sm font-weight-bold text-primary">Lợi nhuận</div>
                            <div class="text-sm font-weight-bold text-primary" id="benefit">@ViewBag.Benefit</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-list-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
    @*// chart*@
    @*<select>
            <option value="2019" selected>2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>*@
    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>
    @*//Xuất ExCel*@
    @using (Html.BeginForm("ExportToExcel", "Home", FormMethod.Post))
    {
        <input type="submit" value="Export to Excel" class="button" />
    }
</div>
<script>
    function ChangeRevenueAndBenefit() {
        var year = $("#selectYear").val()
        var urlRevenue = '/Admin/Home/GetRevenueWithYear?year=' + year;
        var urlBenefit = '/Admin/Home/GetBenefitWithYear?year=' + year;
        $.ajax(urlRevenue,
            {
                dataType: 'json', // type of response data
                timeout: 50000,     // timeout milliseconds
                success: function (data, status, xhr) {   // success callback function

                    $("#revenue").text(data)
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    alert('Error: ' + errorMessage);
                }
            });

        $.ajax(urlBenefit,
            {
                dataType: 'json', // type of response data
                timeout: 50000,     // timeout milliseconds
                success: function (data, status, xhr) {   // success callback function

                    $("#benefit").text(data)
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    alert('Error: ' + errorMessage);
                }
            });

    }
</script>